{% extends "jobs/base.html" %}
{% load static %}

<!--Header blocks-->
{% block title %}
    Greg Milway
{% endblock %}

<!--Body blocks-->
{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Greg Milway</h1>
                <p class="lead text-body-secondary">Hi, I'm Greg. I am a Software QA, specialising in test automation
                    using Python.</p>
                <p>
                    <a href="mailto:greg.milway@gmail.com" class="btn btn-primary my-2">Contact Me</a>
                </p>
                <img src="{% static 'profile_pic.jpg' %}" height=300>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for job in jobs.all %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <a href="{% url 'detail' job.id %}">
                                <img class="bd-placeholder-img card-img-top" src="{{ job.image.url }}">
                                <div class="card-body">
                                    <p class="card-text">{{ job.summary }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
